{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "comma-dangle": 0,
    "max-len": 0,
    "react/jsx-no-bind": 0,
    "react/prefer-stateless-function": 0,
    "jsx-quotes": [2, "prefer-single"]
  },
  "globals": {
    "angular": false,
    "define": false,
    "jasmine": false,
    "require": false,
    "exports": false,
    "module": false,
    "describe": false,
    "before": false,
    "beforeEach": false,
    "after": false,
    "afterEach": false,
    "it": false,
    "inject": false,
    "expect": false,
    "spyOn": false,
    "sinon": false,
    "should": false
  }
}
